@page "/tasks"
@inject Manager manager
@rendermode InteractiveServer

<PageTitle>Tasks for @CurrentProject</PageTitle>

<div class="row" style="padding-top: 20px;">
    <div class="col">
        <h2 class="text-2xl font-semibold mb-4" style="padding-left: 30px;">Project Task Manager</h2>
    </div>
    <div class="col-3">
        <SelectActiveProject OnProjectChange="HandleProjectChange" />
    </div>
    <div class="col-2">
        <TaskCheckBox OnShowAllChanged="HandleToggleShowAll" OnShowIncompleteChanged="HandleToggleShowComplete" />
    </div>
</div>
<hr style="border-top: 1px solid white" />




<div class="fixed-bottom" style="padding: 10px 0px 10px 30px; background-color: #272B2F;">
    <hr style="border-top: 1px solid white" />
    <NewTask ProjectId=CurrentProject.ProjectId ParentTaskId=0 OnTaskAdded="HandleTaskAdded" />
</div>




<div style="padding: 10px 10px 10px 30px;">
    @foreach(KeyValuePair<string, List<TaskItem>> parentTask in ParentTaskItems)
    {
        <div>
            <h4>@parentTask.Key</h4>
            @foreach (TaskItem taskItem in parentTask.Value)
            {
                <div @onclick="() => ToggleActive(taskItem.TaskId)">
                    <TaskRow InputTask=taskItem OnTaskUpdated="HandleTaskUpdate" AllEmployees="@AllEmployees" IsBold="@SubTaskItems.ContainsKey(taskItem.TaskId)" />
                    <div style="padding: 10px 0px 10px 0px;">

                        @if (SubTaskItems.ContainsKey(taskItem.TaskId))
                        {
                            <div>
                                @foreach (TaskItem subTaskItem in SubTaskItems[taskItem.TaskId])
                                {
                                    <div>
                                        <TaskRow InputTask=subTaskItem OnTaskUpdated="HandleTaskUpdate" AllEmployees="@AllEmployees" />
                                    </div>
                                }
                            </div>
                        }
                        @if(SelectedParentTaskId == taskItem.TaskId)
                        {
                            <NewTask ProjectId=CurrentProject.ProjectId ParentTaskId=taskItem.TaskId OnTaskAdded="HandleTaskAdded" />
                        }
                    </div>
                </div>
                <hr style="border-top: 3px solid white" />
            }
        </div>
        <hr style="border-top: 5px solid white" />
    }

</div>
<br />
<br />
<br />



@code {
    private Project CurrentProject;

    private Dictionary<string, List<TaskItem>> ParentTaskItems = [];
    private Dictionary<int, List<TaskItem>> SubTaskItems = [];

    private List<Employee> AllEmployees = [];

    public bool ShowAllProjects { get; set; } = false;
    public bool ShowIncompleteOnly { get; set; } = true;
    private int SelectedParentTaskId = 0;

    protected override void OnInitialized()
    {
        CurrentProject = manager.CurrentProject;
        RefreshTasks();
        base.OnInitialized();
    }

    private void HandleProjectChange(string projectName)
    {
        CurrentProject = manager.CurrentProject;
        RefreshTasks();
    }

    private void RefreshTasks()
    {
        ParentTaskItems = [];
        SubTaskItems = [];

        if (ShowAllProjects)
        {
            foreach (Project project in manager.Projects)
            {
                GetTasks(project.ProjectName, project.ProjectId);
            }
        }
        else
        {
            GetTasks(CurrentProject.ProjectName, CurrentProject.ProjectId);
        }
        AllEmployees = manager.GetAllActiveEmployees().Result;
    }

    private void GetTasks(string projectName, int projectID = 0)
    {
        List<TaskItem> IncompleteParentTaskItems;
        List<TaskItem> CompleteParentTaskItems;

        IncompleteParentTaskItems = manager.GetAllIncompleteParentTasks(projectID).Result;

        if (!ShowIncompleteOnly)
        {
            CompleteParentTaskItems = manager.GetAllCompleteParentTasks(projectID).Result;
            ParentTaskItems[projectName] = IncompleteParentTaskItems.Concat(CompleteParentTaskItems).ToList();
        }
        else
        {
            ParentTaskItems[projectName] = IncompleteParentTaskItems;
        }

        Dictionary<int, List<TaskItem>> subTaskTemp = manager.GetAllSubTasks(projectID).Result;
        foreach (KeyValuePair<int, List<TaskItem>> subTask in subTaskTemp)
        {
            if (!SubTaskItems.ContainsKey(subTask.Key))
            {
                SubTaskItems[subTask.Key] = new List<TaskItem>();
            }
            SubTaskItems[subTask.Key].AddRange(subTask.Value);
        }
    }

    private void HandleTaskAdded(TaskItem task)
    {
        task.ProjectId = CurrentProject.ProjectId;
        manager.InsertTask(task);
        if(task.ParentTaskId == 0)
        {
            SelectedParentTaskId = 0;
        }
        RefreshTasks();
    }

    private void HandleTaskUpdate(TaskItem task)
    {
        manager.UpdateTask(task);
        RefreshTasks();
    }

    private void HandleToggleShowAll(bool showAll)
    {
        ShowAllProjects = showAll;
        RefreshTasks();
    }

    private void HandleToggleShowComplete(bool showIncomplete)
    {
        ShowIncompleteOnly = !showIncomplete;
        RefreshTasks();
    }
    private void ToggleActive(int ParentTaskId)
    {
        SelectedParentTaskId = ParentTaskId;
    }
}
