@using System.Globalization
@using System.Linq
@inject Manager manager
@inject IJSRuntime JS


<div style="display:grid; grid-template-columns: repeat(@(ChartDays.Count()), 1fr)">
    @foreach (var day in ChartDays)
    {
        var color = day == DateTime.Today ? "red" : "transparent";
        <div style="align-items: center; display: flex; justify-content: center; font-weight: 700; writing-mode: vertical-rl; text-orientation: sideways; background-color:@color;">@day.ToString("dd MMM")</div>
    }

    @foreach (var milestone in Milestones)
    {
        manager.AddMilestoneMissingDates(milestone);

        var plannedStart = (milestone.PlannedStartDate - ChartStart).Days + 1;
        var plannedEnd = ((milestone.PlannedEndDate ?? milestone.PlannedStartDate) - ChartStart).Days + 1;

        <div style="background: #9E923C; grid-row: @currentRow; grid-column: @plannedStart / @plannedEnd; margin-top:5px;" @onclick="() => MilestoneSelected(milestone)">
            @milestone.Name
        </div>

        currentRow++;

        var left = (milestone.StartDate - ChartStart).Days + 1;
        var endDate = ((milestone.EndDate ?? milestone.StartDate) - ChartStart).Days + 1;
        var color = milestone.IsCompleted ? "#3e6a40" : "#2B77BA";

        <div style="background: @color; grid-row: @currentRow; grid-column: @left / @endDate;" @onclick="() => MilestoneSelected(milestone)">
            @milestone.Name <span style="font-size:8pt">(@milestone.Engineer?.EmployeeName)</span>
        </div>

        if (BlockingMilestones.ContainsKey(milestone.MilestoneId))
        {
            @foreach (Milestone milestone1 in BlockingMilestones[milestone.MilestoneId])
            {
                currentRow++;
                manager.AddMilestoneMissingDates(milestone1);
                var blockLeft = milestone1.StartDate < ChartStart ? 1 : (milestone1.StartDate - ChartStart).Days + 1;
                var blockRight = milestone1.EndDate > ChartEnd ? -1 : ((milestone1.EndDate ?? milestone1.StartDate) - ChartStart).Days + 1;

                <div style="background: #BA3F3F; grid-row: @currentRow; grid-column: @blockLeft / @blockRight; font-size:9pt;">
                    Block @milestone1.Project?.DesignCode @milestone1.Name <span style="font-size:8pt">(@milestone1.StartDate.ToString("yyyy-MM-dd") - @((milestone1.EndDate ?? milestone1.StartDate).ToString("yyyy-MM-dd")))</span>
                </div>
            } 
        }
        currentRow++;
    }
</div>

@if (PanelVisible)
{
    <div class="fixed-bottom" style="padding: 10px 0px 10px 30px; background-color: #272B2F;">
        <hr style="border-top: 1px solid white" />
        <TimelineMilestoneEdit SelectedMilestone="@SelectedMilestone" OnMilestoneChange="MilestoneAdded" />
    </div>
}


@code {
    [Parameter]
    public required Project CurrentProject { get; set; }
    private Project? PrevCurrentProject;

    [Parameter]
    public required bool NewMilestoneButtonClicked { get; set; } = false;
    private bool PrevNewMilestoneButtonClicked = false;

    public List<Milestone> Milestones { get; set; } = new();
    public Milestone SelectedMilestone { get; set; }
    public Dictionary<int, List<Milestone>> BlockingMilestones { get; set; } = [];

    public bool PanelVisible { get; set; }

    private int DayWidth = 20;
    private DateTime ChartStart;
    private DateTime ChartEnd;
    private IEnumerable<DateTime> ChartDays = [];

    private int currentRow = 2;

    protected override void OnInitialized()
    {
        PrevNewMilestoneButtonClicked = NewMilestoneButtonClicked;
        SelectedMilestone = new Milestone()
        {
            ProjectId = 0,
            Name = "New"
        };
        GetAllMilestones();
        base.OnInitialized();
    }

    private void GetAllMilestones()
    {
        manager.FixMilestoneStartDates(CurrentProject.ProjectId).Wait();
        Milestones = manager.GetAllMilestonesByProjectId(CurrentProject.ProjectId).Result;

        BlockingMilestones = [];
        foreach(Milestone m in Milestones)
        {
            manager.AddMilestoneMissingDates(m);
            if(m.EngineerId != 0)
            {
                DateTime endDate = m.EndDate ?? m.StartDate.AddDays(m.RequiredDays).Date;
                List<Milestone> blockedMilestones = manager.GetAllMilestonesOfBlockingEngineers(m.EngineerId, m.StartDate, endDate, m.ProjectId).Result;
                if (blockedMilestones.Count > 0)
                {
                    BlockingMilestones.Add(m.MilestoneId, blockedMilestones);
                }
            }
        }

        if (Milestones.Count == 0)
        {
            ChartStart = DateTime.Today;
            ChartEnd = DateTime.Today.AddDays(30);
        }
        else
        {
            var maxMil = Milestones.Max(m => m.EndDate) ?? Milestones.Min(m => m.StartDate);
            ChartStart = Milestones.Min(m => m.StartDate).Date;
            ChartEnd = maxMil.Date;
        }
        ChartDays = Enumerable.Range(0, (ChartEnd - ChartStart).Days + 1).Select(offset => ChartStart.AddDays(offset));
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        if(PrevCurrentProject is null || PrevCurrentProject?.ProjectId != CurrentProject.ProjectId)
        {
            PrevCurrentProject = CurrentProject;
            GetAllMilestones();
            PanelVisible = false;
        }
        if (PrevNewMilestoneButtonClicked != NewMilestoneButtonClicked)
        {
            NewMilestone();
            PrevNewMilestoneButtonClicked = NewMilestoneButtonClicked;
        }

        base.OnParametersSet();
    }

    private void MilestoneAdded()
    {
        GetAllMilestones();
        PanelVisible = false;
    }

    private void MilestoneSelected(Milestone milestone)
    {
        PanelVisible = true;
        SelectedMilestone = milestone;
    }

    private void NewMilestone()
    {
        Milestone newMilestone = new Milestone()
        {
            ProjectId = CurrentProject.ProjectId,
            Name = "New Milestone",
            StartDate = DateTime.Today,
            RequiredDays = 1
        };
        SelectedMilestone = newMilestone;
        PanelVisible = true;
    }
}
